////////////////////////////////////
// LOGO

.logo {
  height: 5rem;
  width: 5rem;
  margin-left: 1.8rem;
  transform: scale(0.65);
}

////////////////////////////////////
// SEARCH
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }

  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }

  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}


////////////////////////////////////
// USER NAVIGATION
.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__icon {
    height: 2.75rem;
    width: 2.75rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

////////////////////////////////////
// PAGINATION
.pagination {
  display: flex;
  align-items: center;
  grid-column: center-start / center-end;
  grid-gap: 1rem;
  font-size: 2rem;
  justify-content: center;




  @media only screen and (max-width: 37.5em) {
    font-size: 1.6rem;
  }

  &__top {
    @media only screen and (max-width: 37.5em) {
      padding-bottom: 0;
    }
  }

  &__bottom {
    margin-bottom: 3rem;

    @media only screen and (max-width: 37.5em) {
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__prev-box:hover,
  &__next-box:hover,
  &__page-box:hover {
    background-color: var(--color-grey-light-2);
  }


  &__prev-box,
  &__next-box {
    display: flex;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 37.5em) {
      padding: 0 .7rem;
    }
  }

  &__prev,
  &__next {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__page-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 2rem;

    @media only screen and (max-width: 37.5em) {
      margin: 0 .8rem;
    }

  }

  &__page {
    align-items: center;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    color: var(--color-grey-dark-2);

    &-current {
      color: var(--color-primary);
    }
  }

  &__pages {
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 37.5em) {
      padding: 0;
    }
  }

}

////////////////////////////////////
// PRODUCTS
.product-view {
  grid-column: center-start / center-end;
  margin: 0 0 0 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.product {
  background-color: #f9f7f6;
  box-shadow: var(--shadow-light);
  display: grid;
  grid-row-gap: 3.5rem;
  max-height: 100%;
  max-width: 100%;

  &__img {
    max-height: 100%;
    max-width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }

  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;

    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);


  }

  &__price {
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: var(--color-grey-dark-1);

    &--msrp,
    &--price {
      margin: 0 .5rem;
    }

    &--msrp {
      color: var(--color-grey-light-4);
      text-decoration: line-through;
    }

  }

  &__btn {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
    max-height: 100%;
    max-width: 100%;

    &:hover {
      background-color: var(--color-primary-light);
    }
  }


}
